body{
    background: rgb(221, 2, 221);
    font-family: "Noto Serif", serif;
    margin: 0px;
    margin-bottom: 100px;
}



.chamada{
    background: rgb(0, 255, 221);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    font-size: 35px;
    color: black;
    border-bottom: solid 3px white;
    padding: 20px;
}
h1{
    font-size: 40px;
}
.chamada-texto{
    margin-right: 5%;
}